.post {
}

.customerContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: 8px;
}

.name {
  font-size: 12px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photo {
}

.text {
  margin-right: auto;
  padding-left: 8px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 16px;
  margin-left: 8px;
  color: #767676;
  user-select: none;
}

.footerCounterItem {
  display: flex;
  gap: 4px;
  cursor: pointer;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.footerCounterItem:hover {
  color: #3a3a3a;
}

.likesCounter {
}

.liked {
  color: #ef2626;
}

.commentsContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.comment {
}

.commentText {
}

.repostsCounter {
}
